body {
  /*line-height:1.4;*/
  color: #333;
  font: 14px 'Microsoft YaHei', Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
  background: white;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
textarea,
select {
  font-size: 12px;
  font-size: 100%;
  font-family: arial;
  font-family: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
  margin: 0;
}
h4,
h5,
h6 {
  font-size: 1em;
}
ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
li {
  list-style: none;
}
/*image with no-border*/
a {
  color: #333;
  text-decoration: none;
}
a img {
  border: 0;
}
img {
  border: 0;
}
.l {
  float: left;
}
.r {
  float: right;
}
